root = true

[*]
# Indentation
indent_style = space
indent_size = 2

# Line endings
end_of_line = lf

# Character encoding
charset = utf-8

# Tabs
trim_trailing_whitespace = true
insert_final_newline = true

# Braces
[*.{cpp,h,c,cc,hh,ino}]
brace_style = "allman"

# Other file types (you can add more as needed)
[*.{py,json,html,css,js}]
# Add formatting preferences specific to these file types,
# following the same syntax as above (e.g., indent_style, etc.)